.continent_buttons {
    display: flex;
    margin: 20px;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    
    margin: 0;
}


.location_button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#home_continents {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 280px;
    height: 320px;
    
    margin: 20px;
    margin-bottom: 0px;
    
    border: 0px;
    border-radius: 15px;
    align-items: center;
    border-color: brown;
}